<h1 md-dialog-title *ngIf="!error"> Login </h1>
<h1 md-dialog-title *ngIf="error"> Failed to Login </h1>
<form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div MdDialogContent class="dialog-content">
        <input mdInput type="text" placeholder="username" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required>
        <input mdInput type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="model.pass" #password="ngModel" required>
    </div>
    <div MdDialogActions class="action_container">
        <button color="accent" md-button tabindex="-1" (click)="closeDialog()"> Cancel </button>
        <button color="accent" md-button [disabled]="loading" (click)="login()"> Log In </button>
    </div>
</form>